# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Build outputs
dist/
build/
out/
.next/

# Environment variables
.env
.env.local
.env.*.local
*.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts


# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Certificates
*.pem
*.key
*.crt

# Vercel
.vercel

# Misc
*.tgz
